body {
    display: flex;
    justify-content: center;
    background: url(background.jpg);
    height: 100vh;
}

#heading {
    color: white;
    background-color: #2b3471;
    border-radius: 10px;
    padding: 20px 50px;
    transition: all 0.3s;
}

#songName {
    background-color: aquamarine;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s;
}

#songName:hover {
    background-color: rgb(90, 177, 148);
    cursor: pointer;
}

#heading:hover {
    background-color: #115d97;
    cursor: pointer;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
}